body {
  padding-left: 100px;
  padding-top: 10px;
  padding-bottom: 40px;
}
dl {
  padding-left: 20px;
}
dl, ul, ol, p {
  font-family: Arial, sans-serif;
}
ul {
  list-style-type: "-:- ";
}
a:hover {
  text-decoration: none;
}
div {
  height: 860px;
  width: 80px;
  background-color: Gainsboro;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}